<footer>
    <p>&copy; <%= new Date().getFullYear() %> mag-read</p>
    <p><a href="/page/terms"><%= __('Terms and Conditions') %></a> | <a href="/page/privacy"><%= __('Privacy Policy') %></a></p>
  </footer>
  </body>
  </html>