<%- include('../partials/header', { title, isLoggedIn }) %>

<h1><%= __('Welcome to the homepage!') %></h1>

<%- include('../partials/documents', {isLoggedIn, documents}) %> <%-
include('../partials/footer') %>
