<%- include('../partials/header', { title: 'Accueil', isLoggedIn }) %>

<h1>Politique de confidentialité</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec</p>

<%- include('../partials/footer') %>
